/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:hover {
	text-decoration: none;
}

/*top-bar*/
.wrapper {
	width: 96%;
	max-width: 1170px;
	margin: 0 auto;
}

header .top-bar{
	background: #141518;

	color: #fff;

}

header .top-bar .wrapper {
	height: 58px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	color: inherit;
}

.social {
	font-size: 14px;
}

.social a {
	margin-right: 20px;
}

.search form input.search-form {
	border: none;
	background: transparent;
	font-size: 13px;
	color: #989797;
	font: italic 13px Open Sans, sans-serif;
	width: 130px;
}

.button {
	background: transparent;
	border: none;
	color: #fff;
}

/*logo*/

.logo {
	text-align: center;
	height: 210px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*nav*/
nav {
	height: 63px;
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #e7e7e7;
}

nav a {
	color: #141417;
	text-transform: uppercase;
	align-items: center;
	padding: 25px 22px;
	display: block;
	min-height: 63px;

}

nav ul.menu {
	text-align: center;
}


nav ul.menu li{
	display: inline-block;
	font: 13px 'Cabin', sans-serif;
}


/*slider*/

section.slider .homepage-slider{
	display: flex;
	justify-content: space-between;
}

section.slider .homepage-slider .item-slider {
	width: calc(33.3333% - 13px);
	position: relative;
}

section.slider .homepage-slider .item-slider .mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


section.slider .homepage-slider .item-slider img {
	max-width: 100%;
	height: auto;
}

section.slider .homepage-slider .item-slider span.category {
	font: 12px/24px 'Cabin', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.01em;

}

section.slider .homepage-slider .item-slider span.category::before{
	content: "-";
	margin-right: 15px;
}

section.slider .homepage-slider .item-slider span.category::after{
	content: "-";
	margin-left: 15px;
}

section.slider .homepage-slider .item-slider h2.title{
	font: 30px/40px 'Lato', sans-serif;
	margin-bottom: 20px;
}

section.slider .homepage-slider .item-slider a{
	font: 34px 'Lato', sans-serif;
}

main .wrapper {
	margin-top: 85px;
	display: flex;
	justify-content: space-between;
}

section.content {
	width: 67.52%;
	margin-bottom: 90px;
}

aside {
	width: 27.35%
}

article span {
	font: 12px 'Cabin', sans-serif;
	text-transform: uppercase;
	color: #b08672;
	padding-top: 20px;
	letter-spacing: 0.01em;
}


article h2 {
	font: 26px 'Lato', sans-serif;
	margin-bottom: 30px;
	margin-top: 22px;
}

article p {
	font: 14px/24px Open Sans, sans-serif;
	margin-bottom: 40px;
	color: #7e7e7e;
}

article img {
	margin-right: 50px;
}

article {
	margin-bottom: 50px;
	display: flex;
}

article .post-data{
	padding-top: 20px;
}

h3 {
	font: 16px/23px 'Cabin', sans-serif;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

.trending {
	text-align: center;
}

.trending .trending-list {
	display: flex;
	justify-content: space-between;
}

.trending .trending-list article{
	width: calc(33.3333% - 10px);
	position: relative;
}

.trending .trending-list article .mask {
	display: none;
}

.trending .trending-list article .mask span.category::before{
	content: "-";
	margin-right: 15px;
}

.trending .trending-list article .mask span.category::after{
	content: "-";
	margin-left: 15px;
}

.trending .trending-list article .mask span.category {
	font: 12px/20px 'Cabin', sans-serif;
	color: #fff;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

.trending .trending-list article .mask h4.title {
	font: 18px/20px 'Lato', sans-serif;
	color: #fff;
	margin-top: 15px;
}

.trending .trending-list article.active .mask {

	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.trending .trending-list article img{
	max-width: 100%;
	height: auto;
}

.trending-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.trending-heading .line {
	flex-grow: 1;
	height: 1px;
	background: #e7e7e7;
}

.trending-heading h3.trending-title {
	text-transform: uppercase;
	padding-left: 30px;
	padding-right: 30px;
	font: 16px/23px 'Cabin', sans-serif;
	letter-spacing: 0.15em;
}


.pagination {
	display: inline-block;
	font-size: 0;
}

.pagination li.active {
	font: 12px/22px 'Cabin', sans-serif;
	background-color: #b08672;
	color: #fff;
	text-align: center;
	line-height: 37px;
}

.pagination li {
	font: 12px/22px 'Cabin', sans-serif;
	color: #000;
	width: 37px;
	height: 37px;
	border: 1px solid #e7e7e7;
	text-align: center;
	line-height: 37px;
	float: left;
	margin-right: 8px;
}

.pagination li a {
	display: block;
}

.sidebar .widget {
	margin-bottom: 55px;
}

.sidebar .widget.widget-about {
	text-align: center;
}

.sidebar .widget.widget-about .image-holder{
	margin-bottom: 40px;

}
.sidebar .widget.widget-about img{
	border-radius: 100%;
}

.sidebar .widget.widget-about p {
	font: 14px/24px Open Sans, sans-serif;
	color: #7e7e7e;
	margin-bottom: 25px;
	margin-top: 25px;
}

.sidebar .widget.widget-about .social-profiles a {
	color: #262626;
	margin-right: 5px;
}

.sidebar .widget.widget-ads figure {
	position: relative;
}

.sidebar .widget.widget-ads figure figcaption{
	position: absolute;
	top: 33px;
	left: 90px;
	width: 100%;
	height: 100%;
}

.sidebar .widget.widget-ads figure figcaption .category{
	height: 33px;
	padding-left: 30px;
	padding-right: 30px;
	background: rgba(20,21,24, 0.2);
	font: 14px/33px 'Cabin',sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #fff;
	display: inline-block;
}

.widget-popular .line-title {
	letter-spacing: 0.15em;
	font: 13px/23px 'Cabin', sans-sefif;
	text-transform: uppercase;
	color: #262626;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.widget-popular .line-title h3.widget-title {
	padding-left: 24px;
	padding-right: 24px;
}

.widget-popular .line-title .line{
	flex-grow: 1;
	height: 1px;
	background: #e7e7e7;
}

.list-posts .post {
	display: flex;
	margin-bottom: 20px;
}

.list-posts .post .img-holder  {
	position: relative;
}
.list-posts .post .img-holder .number{
	width: 15px;
	height: 15px;
	background: #fff;
	color: #262626;
	font: 10px/15px 'Cabin', sans-serif;
	text-align: center;
	position: absolute;
	top:0;
	left:0;
}

.list-posts .post .post-data {
	padding-top: 11px;
	padding-left: 19px;
}

.list-posts .post .post-data h4 {
	color: #262626;
	font: 16px/22px 'Lato',sans-serif;
	margin-bottom: 8px;
}
.list-posts .post .post-data span.date {
	font: 11px 'Cabin', sans-serif;
	text-transform: uppercase;
	color: #a5a5a5;
	display: block;
}


footer {
	width: 100%;
	background: #141518;
}

footer .insta-feed {
	display: flex;
}

footer .insta-feed .item{
	width: 12.5%;
}

footer .insta-feed .item img {
	width: 100%;
	height: auto;
}

footer .insta-feed a {
	display: block;
}



footer .footer-social {
	background: #141518;
	margin-top: 75px;
	margin-bottom: 75px;
}

footer .footer-social .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;

}

footer .footer-social .wrapper .item-social {
	padding-right: 40px;
	padding-left: 40px;
	text-align: center;
	font: 12px/40px 'Cabin', sans-serif;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #fff;
}
